* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: #83e578;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #83e578;
}

.foodtitle {
  font-size: 50px;
  text-shadow: 0.1em 0.1em #126307;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.card-column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.card-row {
  margin: 0 -5px;
}

.card-row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #258b17;
  background-color: white;
  text-align: center;
  padding: 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #4381a6;
}

@media screen {
  .card-column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
}

.learn-more-btn {
  background-color: #a49fd8;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.learn-more-btn:hover {
  font-size: 20px;
  background-color: #837dc7;
}